# APP 
NODE_ENV=production

# JWT & AUTH 
JWT_SECRET=
JWT_EXPIRES_IN=1h

# DATABASE 
MYSQL_ROOT_PASSWORD=
DB_USER=root
DB_NAME=smarttransport

# RABBITMQ 
RABBITMQ_USER=admin
RABBITMQ_PASS=

# MQTT / IOT 
MQTT_USER=iot_device
MQTT_PASS=

# MONITORING 
GRAFANA_USER=admin
GRAFANA_PASS=
