# --- MySQL ---
MYSQL_ROOT_PASSWORD=rootpass
DB_USER=root
DB_NAME=smarttransport

# --- RabbitMQ ---
RABBITMQ_USER=admin
RABBITMQ_PASS=adminpass

# --- JWT / OAuth ---
JWT_SECRET=d04d6c256d79461e6cb4307ba0c91cfc76ec498e04051dcceffadfc630db4ffc
JWT_EXPIRES_IN=1h

# --- Grafana ---
GRAFANA_USER=admin
GRAFANA_PASS=admin

# --- Node env ---
NODE_ENV=production