# ENVIRONMENT & SECRETS (GLOBAL)
.env
**/.env
*.env.backup

# 1. PHP / CODEIGNITER 4 (php-fleet, php-passenger, php-stop)
**/vendor/

# Writable folders (Abaikan isinya, pertahankan struktur foldernya)
**/writable/cache/*
!**/writable/cache/index.html
**/writable/logs/*
!**/writable/logs/index.html
**/writable/session/*
!**/writable/session/index.html
**/writable/uploads/*
!**/writable/uploads/index.html
**/writable/debugbar/*
!**/writable/debugbar/index.html

# Testing PHP
**/build/
**/results/
**/tests/coverage*/
**/phpunit.xml
**/.phpunit.cache/

# 2. NODE.JS (express-gateway)
**/node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# 3. PYTHON (python-ml-service)
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.venv/
**/venv/
**/env/
**/.pytest_cache/

# 4. OS JUNK & IDE FILES (GLOBAL)
.DS_Store
**/.DS_Store
Thumbs.db
**/Thumbs.db
.idea/
.vscode/
**/*.swp
**/*.bak