CI_ENVIRONMENT = production

database.default.hostname =
database.default.database =
database.default.username =
database.default.password =
database.default.port     = 3306

RABBITMQ_HOST =
RABBITMQ_PORT = 5672
RABBITMQ_USER =
RABBITMQ_PASS =

SERVICE_NAME = stop-service